.floating-close-button{
    position: fixed;
    top: 10%;
    left: 90%;
}

.floating-print-button{
    position: fixed;
    top: 90%;
    left: 90%;
}


.advising-form-main {
    overflow: auto;
    height: auto;
    /*min-height: 600px;*/
    width: auto;
}

.content-wrapper {
    overflow: auto;
    height: 70%;
    width: 90%;
}

tr.mat-header-row ::ng-deep {
    height: auto;
    text-align: center;
}

tr.mat-footer-row ::ng-deep, tr.mat-row ::ng-deep {
    height: auto;
    text-align: center;
}

::ng-deep .cdk-overlay-pane::ng-deep{
    overflow: auto;
}