<button mat-fab color="warn"
        class="floating-close-button"
        mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>

<button mat-fab color="primary"
        (click)="print()"
        class="floating-print-button"
        mat-dialog-close>
    <mat-icon>print</mat-icon>
</button>
<div style="overflow: auto;">
    <div class="advising-form-main" id="advising-form-print">
        <div align="center" class="header-wrapper-main">
            <h1><p>Advising Form</p></h1>
        </div>
        <div align="left" class="mat-card-subtitle">
            <p>{{data.student.name | uppercase}} - {{data.student.id}}</p>
            <p>{{data.student.course| uppercase}} - {{data.student.year + ' year'| uppercase}}</p>
            <p>{{data.student.status.toString()| uppercase}}</p>
            <p>ENROLMENT FOR SEMESTER: <b>{{data.incoming_semester | uppercase}} semester</b></p>
        </div>

        <div align="center">
            <!--class="mat-elevation-z8 content-wrapper"-->
            <table mat-table
                   class="ui celled table"
                   [dataSource]="tableData">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let row">
                        <app-mobile-label [mobileLabel]="'Subject Code: '"></app-mobile-label> {{row.code}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let row">
                        <app-mobile-label [mobileLabel]="'Subject Title: '"></app-mobile-label> {{row.title}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef><b>Total Units: </b></td>
                </ng-container>

                <ng-container matColumnDef="units">
                    <th mat-header-cell *matHeaderCellDef>Units</th>
                    <td mat-cell *matCellDef="let row">
                        <app-mobile-label [mobileLabel]="'Units: '"></app-mobile-label> {{row.total_units}} units
                    </td>
                    <td mat-footer-cell *matFooterCellDef><b>{{totalUnits()}} units</b></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </div>
    </div>
</div>
