<h1>Statistics</h1>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Subject Code</th>
        <th>Subject Title</th>
        <th>Advised Student</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td data-label="Name">Prog-1</td>
        <td data-label="Age">Programming 1</td>
        <td data-label="Job">30</td>
    </tr>
    <tr>
        <td data-label="Name">Prog-2</td>
        <td data-label="Age">Programming 2</td>
        <td data-label="Job">40</td>
    </tr>
    </tbody>
</table>