<h1 (click)="fire_test_emmit()">Statistics</h1>
<div>
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Student Count: {{student_count}}
    </h2>
</div>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Subject Code</th>
        <th>Student Per Subject</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of subject_table">
        <td data-label="Code">{{s.code}}</td>
        <td data-label="Count">{{s.count}}</td>
    </tr>
    </tbody>
</table>