.passed-subject {
    background: rgba(131, 158, 235, 0.44);
}

.content-wrapper {
    overflow: auto;
    /*height: 100%;*/
    width: 100%;
}

.header-wrapper-main {
    /*border-bottom: 1px black dashed;*/
}

.print-advising-button{
    margin-top: 10px;
}

/* th {
    text-align: center !important;
} */

::ng-deep .mat-header-cell .mat-sort-header-container {
    justify-content: center;   
}