<div class="raised card ex-card">
    <div class="content ex-card-content">
        <div class="header">YEAR: {{curriculumData.year| uppercase}}</div>
        <div class="meta">Course: {{curriculumData.course| uppercase}}</div>
        <div class="description">
            {{curriculumData.description| uppercase}}
        </div>
    </div>
    <div class="ui bottom attached button" (click)="viewSubjects()">
        <i class="info icon"></i>
        View Subjects
    </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Subject List</div>
    <div class="content">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Subject ID</th>
                <th>Subject Code</th>
                <th>Title</th>
                <th>Pre-requisites</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of cur_data">
                <td data-label="Subject ID">{{s.subject_id}}</td>
                <td data-label="Subject Code">{{s.subject_code | uppercase}}</td>
                <td data-label="Title">{{s.title}}</td>
                <td data-label="Pre-requisites">{{s.pre_req.join(',') | uppercase}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>