<div class="ui centered card"  style="margin-top: 1%; margin-bottom: 1%" >
    <div class="content">
        <div class="center-margin-auto">
            <div class="center-margin-auto logo-wrapper logo-wrapper-size" align="center"  matRipple [matRippleUnbounded]="false">
                <div class="icon-bg-wrapper logo-size mat-effect-shadow">
                    <mat-progress-spinner class="logo-size" *ngIf="this.sending" [diameter]="153"
                                          mode="indeterminate">
                    </mat-progress-spinner>
                    <img class="main-icon logo-size center-margin-auto noselect" src="../../assets/plmun-logo.png"
                         alt="plmun_logo"
                         *ngIf="!this.sending">
                </div>
                <!--<mat-icon *ngIf="!this.sending" class="main-icon">face</mat-icon>-->
            </div>
        </div>
    </div>
    <h1 class="ui header" style="text-align: center"><b>STUDENT LOGIN</b></h1>
    <div class="content">
        <form [formGroup]="form" (ngSubmit)="login()">
            <table cellspacing="0" style="width:100%;">
                <tr>
                    <td>
                        <mat-form-field class="mat-input-wrapper">
                            <input matInput
                                   placeholder="Student Id" formControlName="studentId"
                                   name="StudentId"
                                   required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="mat-input-wrapper">
                            <input matInput
                                   placeholder="Password" formControlName="password"
                                   name="password"
                                   type="password"
                                   required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--<mat-progress-spinner *ngIf="this.sending" [diameter]="20"-->
    <!--mode="indeterminate">-->
    <!--</mat-progress-spinner>-->
    <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
    <div class="content center aligned">
        <button mat-raised-button [disabled]="this.sending" (click)="login()" color="primary">
            LOGIN
        </button>
    </div>
</div>

<!--<div class="centerwrapper">-->
    <!--<div class="mat-card-wrapper">-->
        <!---->
    <!--</div>-->
<!--</div>-->
