.untaken-subject {
    background: rgba(131, 158, 235, 0.44);
}

.passed-subject {
    background: rgba(145, 235, 193, 0.44);
}

.main-table-header-bg {
    background: rgba(255, 252, 186, 0.91);
    font-size: x-large;
    color: black;
}

.content-wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.table-wrapper-main {
    border: 1px black dashed;
}

::ng-deep .mat-header-cell .mat-sort-header-container {
    justify-content: center;
}

.ui.cards > .card {
    width: auto;
}

tr.mat-header-row ::ng-deep{
    height: auto;
}

tr.mat-footer-row ::ng-deep, tr.mat-row ::ng-deep{
    height: auto;
}