<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:center">-->
<!--<h1>-->
<!--Welcome to {{ title }}!-->
<!--</h1>-->
<!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
<!--</li>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
<!--</li>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
<!--</li>-->
<!--</ul>-->
<!--<app-home>loading</app-home>-->


<div class="main-bg">
    <div class="dotted full-percent">
    </div>
</div>

<div style="position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0;">
    <div [hidden]="!routeLoading"
         class="ui segment"  style="margin: 0 auto !important;width: 100vw !important;height: 100vh !important;">
        <div class="ui active inverted dimmer">
            <div class="ui massive text loader">Loading Components</div>
        </div>
    </div>
    <router-outlet [hidden]="routeLoading"></router-outlet>
</div>
