.student-portal-card {
    /*border: 0.5px solid lightgray;*/
    overflow: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /*border: 15px solid orange;*/
    /*margin: inherit;*/
    /*padding: inherit;*/
    /*position: inherit;*/
    /*top: 0;*/
    /*left: 0;*/
    /*(vertical,horizontal)*/
    /*-webkit-transform: translate(-50%, -40%);*/
    /*transform: translate(-50%, -40%);*/
    width: inherit;
    height: 100vh;
    /* min-width: 1440px !important;
    min-height: 758px !important; */
}

.centerwrapper {
    margin: 0 auto;
}

.table-container {
    width: 100%;
    /*max-height: 60vh;*/
    overflow: auto;
}

.row-blox {
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

.col-blox {
    width: 350px;
    height: 100px;
}

.portal-bg {
    background: #193654;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.card-content-wrapper-main {
    /*border: 1px black solid;*/
    margin-top: 10px !important;
    margin-bottom: 20px !important;;
}

.content-card {
    background: rgba(255, 255, 255, 0.97);
}
