<div class="raised card ex-card" (click)="addSubject()">
    <h4 class="ui center aligned icon header ex-card-content">
        <i class="circular plus icon"></i>
        New Curriculum
    </h4>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Upload New Curriculum</div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <div class="ui labeled fluid input">
                    <div class="ui teal label">
                        COURSE
                    </div>
                    <input type="text"
                           placeholder="Course"
                           [(ngModel)]="new_cur_data.course"
                           name="course"
                           required>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled fluid input">
                    <div class="ui teal label">
                        Year
                    </div>
                    <input type="text"
                           [pattern]="'/[0-9]{0,4}-[0-9]{0,4}/'"
                           (change)="year_input_on_change($event)"
                           placeholder="Year"
                           [(ngModel)]="new_cur_data.year"
                           name="year"
                           required>
                </div>
                <div *ngIf="!is_year_verified()"
                     class="ui pointing red basic label">
                    Pattern Error ex: 2014-2015
                </div>
            </div>

            <div class="field">
                <div class="ui labeled fluid input">
                    <div class="ui teal label">
                        Description
                    </div>
                    <input type="text" placeholder="Description" [(ngModel)]="new_cur_data.description"
                           name="description" required>
                </div>
            </div>
            <div class="field">
                <div class="ui left action input">
                    <button class="ui teal labeled icon button" (click)="fileupload.click()">
                        <i class="file excel icon"></i>
                        Subjects
                    </button>
                    <input type="text" value="{{fileupload.value}}" readonly (click)="fileupload.click()"
                           placeholder="Click To Upload File" required/>
                    <input #fileupload
                           type="file"
                           style="display:none"
                           (change)="upload_file($event)"
                           accept=".xlsx">
                </div>
            </div>
            <button class="right aligned ui blue labeled icon button" (click)="excelTemplateDownload()">
                Download Subjects Excel Template
                <i class="download icon"></i>
            </button>
            <sui-progress class="active" [value]="file_process_progress" [maximum]="fp_progress_max">
                {{FILE_UPLOADING ? 'Readying File' : 'Finished'}}
            </sui-progress>
            <button class="ui right floated positive button"
                    type="submit"
                    [disabled]="FILE_UPLOADING || uploading_in_progress || required_unfilled()"
                    (click)="createNewCurriculum()">Submit
            </button>
        </form>
    </div>
</ng-template>