<!--<p xmlns="">-->
<!--home works!-->
<!--</p>-->
<!--<ng2-cytoscape [elements]="graphData"></ng2-cytoscape>-->
<!--<p>-->
<!--<span popover="Hover over trigger event"-->
<!--triggers="" #pop="bs-popover">-->
<!--</span>-->
<!--</p>-->

<!--<mat-card>-->
    <!--<mat-card-header>-->
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <!--<mat-card-title>{{studentName | uppercase}}</mat-card-title>-->
        <!--<mat-card-subtitle>{{studentId}}</mat-card-subtitle>-->
        <!--<mat-card-subtitle>number of remaining semester: {{deppest}}</mat-card-subtitle>-->
        <!--<mat-card-subtitle>Blue: Taken</mat-card-subtitle>-->
    <!--</mat-card-header>-->
    <!--<mat-card-actions>-->
        <!--<div id="centerwrapper">-->
            <!--<button mat-button (click)="this.get_content()">Load Curriculum</button>-->
        <!--</div>-->
    <!--</mat-card-actions>-->
    <!--<mat-card-content>-->
        <!--<div id="centerwrapper">-->
            <!--<div id="mynetwork" #siteConfigNetwork></div>-->
        <!--</div>-->
    <!--</mat-card-content>-->
<!--</mat-card>-->


<!--<style type="text/css">-->
    <!--#mynetwork {-->
        <!--display: inline-block;-->
        <!--width: 95vw;-->
        <!--height: 90vh;-->
        <!--border: 0.5px solid lightgray;-->
    <!--}-->

    <!--#centerwrapper {-->
        <!--/*background-color: green; !* for visualization purposes *!*/-->
        <!--text-align: center;-->
    <!--}-->
<!--</style>-->
